<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li scope="row" class="nav-item active"><a class="nav-link" routerLink="/form">form</a></li>
                <li scope="row" class="nav-item active"><a class="nav-link" routerLink="/registered">Registered student</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>